- name: allow ldap to read TLS certificates
  ansible.builtin.user:
    name: "{{ ldaptoolbox_openldap_configuration_owner }}"
    groups: "{{ ldaptoolbox_openldap_sslgroup }}"
    state: present
  when: ( ldaptoolbox_openldap_olcTLSCertificateFile )

- name: Ensure correct file ownership, group and permissions for CA
  ansible.builtin.file:
    path: "{{ ldaptoolbox_openldap_olcTLSCACertificateFile }}"
    owner: "root"
    group: "root"
    mode: "644"
  when: ( ldaptoolbox_openldap_olcTLSCACertificateFile )

- name: Ensure correct file ownership, group and permissions for certificate
  ansible.builtin.file:
    path: "{{ ldaptoolbox_openldap_olcTLSCertificateFile }}"
    owner: "root"
    group: "root"
    mode: "644"
  when: ( ldaptoolbox_openldap_olcTLSCertificateFile )

- name: Ensure correct file ownership, group and permissions for key
  ansible.builtin.file:
    path: "{{ ldaptoolbox_openldap_olcTLSCertificateKeyFile }}"
    owner: "root"
    group: "{{ ldaptoolbox_openldap_sslgroup }}"
    mode: "640"
  when: ( ldaptoolbox_openldap_olcTLSCertificateKeyFile )
